.scroll-to-top-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 90;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(224, 93%, 68%);
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.visible {
        opacity: 1;
    }

    &:hover {
        background-color: hsl(224, 90%, 55%);
    }
}
