@import '../abstracts/variables';

body {
  font-family: $font-stack;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  &.dark-mode {
    background-color: #313335; // Color de fondo oscuro
    color: #f4f4f4; // Color de texto claro
  }
}

main {
  margin: 0;
}

.app {
  display: flex;
  width: 100%;
}

.main-content {
  margin-left: 220px;
  width: calc(100% - 220px);

  @media (max-width: 768px) {
    margin-left: 0;
    width: 100%;
  }
}

section {
  margin: 20px;

  @media (max-width: 768px) {
    padding: 0px;
  }

  h2 {
    border-bottom: 2px solid $primary-color;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
  }

  .about, .experience, .education, .course, .project {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h3 {
      color: $primary-color;
    }

    h4 {
      margin: 10px 0;
      color: $secondary-color;
    }

    p {
      color: #666;
    }
  }
}

.dark-mode .about, .dark-mode .experience, .dark-mode .education, .dark-mode .course, .dark-mode .project {
  background-color: #444;
  border-color: #555;
  color: #f4f4f4;

  h3 {
    color: #0073b1;
  }

  h4 {
    color: #bbb;
  }

  p {
    color: #ddd;
  }
}
